$primary: white; // Primary project color
$secondary: cyan; // Secondary project color
$tertiary: black; // Tertiary project color

$headingstack: "Roboto", sans-serif;
$fontstack: "Roboto Mono", sans-serif;